## Default prediction from customer spending habit

1. Create base functions for the project.
2. Initial Feature Engineering(Brainstorming)
3. Fit the model to the new features and test the results

In [1]:
# import the relevant computational modules

# data manipulation
import pandas as pd #data processing
import numpy as np #linear algebra

# Models Packages
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn import feature_selection
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

# Gradient Boosting
import lightgbm as lgb
from sklearn.cross_validation import KFold

from scipy import stats

C:\Users\futai\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Data Exploration and Feature Engineering --- manipulate and extract features from each table

In [12]:
transaction_df = pd.read_csv('../raw_data/transactions_train.csv')
payment_df = pd.read_csv('../raw_data/paiements_train.csv')
billing_df = pd.read_csv('../raw_data/facturation_train.csv')
performance_df = pd.read_csv('../raw_data/performance_train.csv')

### Transaction table

In [3]:
transaction_df.head()

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
0,99690111,A,365767,DP,C,5927.0,52.53,E,2015-06-20 12:00:00,F,AN
1,99690111,L,2635650,DP,C,13343.0,28.35,B,2015-01-25 12:00:00,F,AN
2,99690111,L,2635650,DP,C,13343.0,0.00,A,2015-01-26 12:00:00,G,AN
3,99690111,J,680536,AF,C,9430.0,0.00,A,2015-03-25 08:00:00,G,AW
4,99690111,J,680536,AF,C,10600.0,0.00,A,2015-03-03 08:00:00,G,AW

In [4]:
# the type of columns
transaction_df.dtypes

ID_CPTE                       int64
MERCHANT_CATEGORY_XCD        object
MERCHANT_CITY_NAME            int64
MERCHANT_COUNTRY_XCD         object
DECISION_XCD                 object
PRIOR_CREDIT_LIMIT_AMT      float64
TRANSACTION_AMT             float64
TRANSACTION_CATEGORY_XCD     object
TRANSACTION_DTTM             object
TRANSACTION_TYPE_XCD         object
SICGROUP                     object
dtype: object

In [5]:
# convert and select categorical columnst
categorical_columns = ['MERCHANT_CATEGORY_XCD', 'MERCHANT_CITY_NAME', 'MERCHANT_COUNTRY_XCD', 'DECISION_XCD', 
                       'TRANSACTION_CATEGORY_XCD', 'TRANSACTION_TYPE_XCD', 'SICGROUP']

In [6]:
# encode the categorical features
lbl = preprocessing.LabelEncoder()
for col in categorical_columns:
    transaction_df[col].fillna('unknown')
    transaction_df[col] = lbl.fit_transform(transaction_df[col].astype(str))

In [7]:
transaction_df.head()

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
0,99690111,0,8516,90,2,5927.0,52.53,4,2015-06-20 12:00:00,5,13
1,99690111,27,6681,90,2,13343.0,28.35,1,2015-01-25 12:00:00,5,13
2,99690111,27,6681,90,2,13343.0,0.00,0,2015-01-26 12:00:00,6,13
3,99690111,24,9798,5,2,9430.0,0.00,0,2015-03-25 08:00:00,6,22
4,99690111,24,9798,5,2,10600.0,0.00,0,2015-03-03 08:00:00,6,22

In [39]:
### Extract features from transaction_df
# for MERCHANT_CATEGORY_XCD
# sum the total spent money on the merchant category for the individual customer
tmp = transaction_df.groupby(['ID_CPTE', 'MERCHANT_CATEGORY_XCD'])['TRANSACTION_AMT'].sum()
tmp.head()

ID_CPTE   MERCHANT_CATEGORY_XCD
10034823  2                         14.98
          5                        536.54
          6                        395.68
          8                        377.36
          11                       905.19
Name: TRANSACTION_AMT, dtype: float64

In [40]:
tmp = tmp.reset_index()

In [41]:
tmp.head()

    ID_CPTE  MERCHANT_CATEGORY_XCD  TRANSACTION_AMT
0  10034823                      2            14.98
1  10034823                      5           536.54
2  10034823                      6           395.68
3  10034823                      8           377.36
4  10034823                     11           905.19

In [42]:
tmp = tmp.pivot_table('TRANSACTION_AMT', ['ID_CPTE'], 'MERCHANT_CATEGORY_XCD')
tmp.columns = ['MERCHANT_CATEGORY_' + str(i) for i in tmp.columns]

In [43]:
tmp = tmp.fillna(0)

In [44]:
tmp.head()

,MERCHANT_CATEGORY_0,MERCHANT_CATEGORY_1,MERCHANT_CATEGORY_2,MERCHANT_CATEGORY_3,MERCHANT_CATEGORY_4,MERCHANT_CATEGORY_5,MERCHANT_CATEGORY_6,MERCHANT_CATEGORY_7,MERCHANT_CATEGORY_8,MERCHANT_CATEGORY_9,...,MERCHANT_CATEGORY_45,MERCHANT_CATEGORY_46,MERCHANT_CATEGORY_47,MERCHANT_CATEGORY_48,MERCHANT_CATEGORY_49,MERCHANT_CATEGORY_50,MERCHANT_CATEGORY_51,MERCHANT_CATEGORY_52,MERCHANT_CATEGORY_53,MERCHANT_CATEGORY_54
ID_CPTE,,,,,,,,,,,,,,,,,,,,,
10034823,0.0,0.00,14.98,0.0,0.00,536.54,395.68,0.0,377.36,0.0,...,38.84,0.00,6.36,0.0,0.0,1548.00,840.65,0.0,0.0,0.0
10069450,0.0,311.37,0.00,0.0,17.51,39.22,0.00,267.4,175.76,0.0,...,635.75,135.87,0.00,0.0,0.0,0.00,132.14,0.0,0.0,0.0
10081565,0.0,0.00,0.00,0.0,8.40,0.00,0.00,0.0,169.60,0.0,...,34.10,0.00,0.00,0.0,0.0,10.47,307.88,0.0,0.0,0.0
10083607,0.0,0.00,0.00,0.0,336.16,0.00,0.00,0.0,0.00,0.0,...,0.00,0.00,0.00,0.0,0.0,1022.19,11.33,0.0,0.0,0.0
10097162,0.0,0.00,552.22,0.0,397.80,0.00,1308.31,10.3,170.69,0.0,...,0.00,0.00,0.00,0.0,0.0,241.82,775.75,0.0,0.0,0.0

### Payment table

In [45]:
payment_df.head(20)

     ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
0   99690111           208.00  2015-04-26 00:00:00                     Q
1   99690111           176.80  2015-05-28 00:00:00                     Q
2   99690111           200.00  2015-03-27 04:00:00                     Q
3   99690111            80.80  2015-04-02 00:00:00                     Q
4   99690111           250.00  2015-11-24 00:00:00                     Q
5   99690111           273.00  2015-12-26 00:00:00                     Q
6   99690111           267.50  2015-08-23 00:00:00                     Q
7   99690111           618.00  2015-07-27 00:00:00                     Q
8   99690111           226.60  2015-09-30 00:00:00                     Q
9   99690111           244.80  2015-10-27 00:00:00                     Q
10  99690111           303.00  2015-06-25 00:00:00                     Q
11  99690111           303.00  2015-02-26 00:00:00                     Q
12  99690111           262.50  2015-01-26 00:00:00                     Q
13  57427180          1076.25  2012-04-09 00:00:00                     Q
14  57427180           454.50  2012-05-25 04:00:00                     Q
15  57427180           260.00  2012-01-08 00:00:00                     Q
16  57427180           393.90  2012-09-15 00:00:00                     Q
17  57427180           476.89  2012-10-13 04:00:00                     Q
18  57427180           884.00  2012-07-27 00:00:00                     Q
19  57427180           412.00  2012-06-26 00:00:00                     Q

In [48]:
# null / total
payment_df['TRANSACTION_AMT'].isnull().sum() / len(payment_df)

0.000256568144499179

In [49]:
# drop the null rows
payment_df = payment_df.dropna()

In [50]:
# get the month and year of TRANSACTION_DTTM
payment_df['TRANSACTION_DTTM'] = payment_df['TRANSACTION_DTTM'].apply(lambda x: str(x).split(' ')[0][:-3])

In [51]:
payment_df = payment_df.sort_values(['ID_CPTE', 'TRANSACTION_DTTM'])

In [52]:
payment_df = payment_df.groupby(['ID_CPTE', 'TRANSACTION_DTTM'])['TRANSACTION_AMT'].sum().reset_index()

In [53]:
payment_df = payment_df.groupby('ID_CPTE').tail(12)

In [54]:
payment_df['TRANSACTION_DTTM'] = payment_df['TRANSACTION_DTTM'].apply(lambda x: x.split('-')[1])

In [55]:
payment_transaction = payment_df.pivot_table('TRANSACTION_AMT', ['ID_CPTE'], 'TRANSACTION_DTTM')
payment_transaction.columns = ['transaction_' + str(i) for i in payment_transaction.columns + '_month']

In [56]:
payment_transaction = payment_transaction.reset_index()

In [57]:
payment_transaction = payment_transaction.fillna(0)

### Billing table

In [58]:
billing_df.head()

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0

In [61]:
billing_df['PERIODID_MY'] = billing_df['PERIODID_MY'].apply(lambda x: x[:-3])

In [62]:
billing_df = billing_df.sort_values(['ID_CPTE', 'PERIODID_MY'])
billing_df = billing_df.reset_index(drop=True)

In [63]:
billing_df = billing_df.groupby('ID_CPTE').tail(12)
billing_df = billing_df.reset_index(drop=True)

In [64]:
billing_df['PERIODID_MY'] = billing_df['PERIODID_MY'].apply(lambda x: x[-2:])

In [65]:
# CurrentTotalBalance
total_balance = billing_df.pivot_table('CurrentTotalBalance', ['ID_CPTE'], 'PERIODID_MY')
total_balance.columns = ['total_balance_' + str(i) for i in total_balance.columns + '_month']

In [66]:
# CashBalance
cash_balance = billing_df.pivot_table('CashBalance', ['ID_CPTE'], 'PERIODID_MY')
cash_balance.columns = ['cash_balance_' + str(i) for i in cash_balance.columns + '_month']

In [67]:
# CreditLimit
credit_limit = billing_df.pivot_table('CreditLimit', ['ID_CPTE'], 'PERIODID_MY')
credit_limit.columns = ['credit_limit_' + str(i) for i in credit_limit.columns + '_month']

In [68]:
# DelqCycle
delq_cycle = billing_df.pivot_table('DelqCycle', ['ID_CPTE'], 'PERIODID_MY')
delq_cycle.columns = ['delq_cycle_' + str(i) for i in delq_cycle.columns + '_month']

In [69]:
total_balance = total_balance.reset_index()
cash_balance = cash_balance.reset_index()
credit_limit = credit_limit.reset_index()
delq_cycle = delq_cycle.reset_index()

In [118]:
tmp = total_balance.merge(cash_balance, on='ID_CPTE')
tmp = tmp.merge(credit_limit, on='ID_CPTE')
tmp = tmp.merge(delq_cycle, on='ID_CPTE')

In [119]:
tmp.head()

,ID_CPTE,total_balance_01_month,total_balance_02_month,total_balance_03_month,total_balance_04_month,total_balance_05_month,total_balance_06_month,total_balance_07_month,total_balance_08_month,total_balance_09_month,...,delq_cycle_03_month,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month
0,10001822,11479.66,11481.12,11199.60,11017.08,8079.42,9389.97,9315.23,9831.00,10254.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10007972,560.00,0.00,38.00,560.74,443.70,442.00,571.34,400.05,519.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10012520,1634.96,1846.95,1428.45,1013.52,619.03,410.55,495.91,641.68,876.68,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10025534,6107.90,6353.91,6277.08,6389.28,1274.11,4549.65,5282.59,6312.78,6401.85,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,10033579,409.76,251.45,432.00,416.58,385.84,474.88,495.00,524.28,552.12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [120]:
tmp = payment_transaction.merge(tmp, on='ID_CPTE', how='right')

In [121]:
tmp.head()

,ID_CPTE,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,...,delq_cycle_03_month,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month
0,10001822,318.00,522.50,374.50,4200.00,262.5,265.00,267.50,300.0,250.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10007972,784.34,168.28,1050.00,559.50,664.0,313.50,843.71,191.9,945.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10012520,0.00,86.10,458.00,1177.31,315.0,525.00,505.00,50.5,1115.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10025534,131.30,0.00,260.00,0.00,6264.0,0.00,2080.00,0.0,318.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,10033579,574.55,391.30,412.23,470.53,546.8,419.61,283.92,106.0,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [122]:
len(tmp)

11900

In [123]:
len(performance_df[performance_df['Default'] == 1]) / len(performance_df)

0.19336134453781512

In [124]:
performance_df[performance_df['Default'] == 1].head()

      ID_CPTE PERIODID_MY  Default
18   75780289  2012-12-01        1
53   58022132  2013-12-01        1
56   25809739  2015-12-01        1
72   35143533  2013-12-01        1
137  94504449  2012-12-01        1

In [125]:
tmp = tmp.merge(performance_df[['ID_CPTE', 'Default']], on='ID_CPTE')

In [126]:
tmp = tmp.set_index('ID_CPTE')

In [127]:
tmp.head()

,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,transaction_10_month,...,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month,Default
ID_CPTE,,,,,,,,,,,,,,,,,,,,,
10001822,318.00,522.50,374.50,4200.00,262.5,265.00,267.50,300.0,250.0,231.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10007972,784.34,168.28,1050.00,559.50,664.0,313.50,843.71,191.9,945.9,701.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10012520,0.00,86.10,458.00,1177.31,315.0,525.00,505.00,50.5,1115.0,612.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10025534,131.30,0.00,260.00,0.00,6264.0,0.00,2080.00,0.0,318.0,0.00,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1
10033579,574.55,391.30,412.23,470.53,546.8,419.61,283.92,106.0,84.0,219.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

### Create basic classes and functions

In [82]:
# Create basic scikit-learn wrapper model class
class SklearnWrapper:
    def __init__(self, clf, seed=0, params=None, seed_bool=True):
        if (seed_bool == True):
            params['random_state'] = seed
        self.clf = clf(**params)
    
    def train(self, x_train, y_train):
        self.clf.fit(x_train, y_train)
        
    def predict(self, x):
        return self.clf.predict(x)

In [83]:
# create basic xgboost wrapper model class
class XgbWrapper:
    def __init__(self, seed=0, params=None):
        self.param = params
        self.param['seed'] = seed
        self.nrounds = params.pop('nrounds', 250)

    def train(self, x_train, y_train):
        dtrain = xgb.DMatrix(x_train, label=y_train)
        self.gbdt = xgb.train(self.param, dtrain, self.nrounds)

    def predict(self, x):
        return self.gbdt.predict(xgb.DMatrix(x))

In [84]:
# create basic lightGBM wrapper model class
class LightGbmWrapper:
    def __init(self, seed=0, params=None):
        self.param = params
        self.param['seed'] = seed
        self.nrounds = params.pop('nrounds', 1550)
        self.verbose_eval = params.pop('verbose_eval', 100)
        
    def train(self, x_train, y_train):
        lgtrain = lgb.Dataset(x_train, y_train)
        self.lgbm = lgb.train(self.param, lgtrain, num_boost_round=self.nrounds, verbose_eval=self.verbose_eval)
    
    def predict(self, x):
        return self.lgbm.predict(lgb.Dataset(x))

In [429]:
# create out-of-fold predictions 
# make good use of k-fold CV's result 
# serving for the staking alogrithm 
# create a new column generated from model's score

def get_oof(clf, x_train, y, x_test):
    '''
    clf: the classifer, which can be logistic regression, SVM regression, Bayes classifier, etc.
    x_train: the training x in training dataset
    y: the training y in training dataset
    x_test: the testing x in training dataset 
    '''
    oof_train = np.zeros((ntrain,))
    oof_test = np.zeros((ntest,))
    oof_test_skf = np.empty((NFOLDS, ntest))
    
    for i, (train_index, test_index) in enumerate(kf):
        print('\nFold {}'.format(i))
        x_tr = x_train[train_index]
        y_tr = y[train_index]
        x_te = x_train[test_index]
        
        clf.fit(x_tr, y_tr)
        
        oof_train[test_index] = clf.predict(x_te)
        oof_test_skf[i, :] = clf.predict(x_test)
    
    m = stats.mode(oof_test_skf, axis=1)
    oof_test[:] = m[0][0]
    return oof_train.reshape(-1, 1), oof_test.reshape(-1, 1)

In [128]:
# deal with missing values in the table
tmp.head()

,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,transaction_10_month,...,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month,Default
ID_CPTE,,,,,,,,,,,,,,,,,,,,,
10001822,318.00,522.50,374.50,4200.00,262.5,265.00,267.50,300.0,250.0,231.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10007972,784.34,168.28,1050.00,559.50,664.0,313.50,843.71,191.9,945.9,701.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10012520,0.00,86.10,458.00,1177.31,315.0,525.00,505.00,50.5,1115.0,612.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10025534,131.30,0.00,260.00,0.00,6264.0,0.00,2080.00,0.0,318.0,0.00,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1
10033579,574.55,391.30,412.23,470.53,546.8,419.61,283.92,106.0,84.0,219.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [129]:
transaction_col = tmp.iloc[:, :12].columns

In [136]:
for col in transaction_col:
    tmp[col] = tmp[col].fillna(tmp[tmp[col].notna()][col].mean())

In [138]:
tmp = tmp.fillna(0)

In [159]:
tmp = tmp.sample(frac=1) # shuffle data

In [193]:
from sklearn.preprocessing import StandardScaler

In [176]:
X = np.array(tmp.iloc[:, :-1])
y = np.array(tmp.iloc[:, -1])

In [185]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [227]:
from sklearn.decomposition import PCA
pca = PCA(n_components=30)
principalComponents = pca.fit_transform(X)

In [228]:
from imblearn.over_sampling import SMOTE

In [229]:
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_sample(principalComponents, y)

In [230]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.3, random_state=42)

In [231]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()

In [232]:
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [233]:
predict = clf.predict(X_test)

In [234]:
roc_auc_score(predict, y_test)

0.8052196827062564

In [235]:
from sklearn.externals import joblib

In [236]:
joblib.dump(clf, 'logistic_model.pkl')

['logistic_model.pkl']

In [264]:
# data preprocess

class DataPreprocess:
    def __init__(self, label_encoder):
        self.lbl = label_encoder
        
    def preprocess_transcation(self, transaction_df):
        categorical_columns = ['MERCHANT_CATEGORY_XCD', 'MERCHANT_CITY_NAME', 'MERCHANT_COUNTRY_XCD', 
                               'DECISION_XCD', 'TRANSACTION_CATEGORY_XCD', 'TRANSACTION_TYPE_XCD', 'SICGROUP']
        
        for col in categorical_columns:
            transaction_df[col].fillna('unknown')
            transaction_df[col] = self.lbl.fit_transform(transaction_df[col].astype(str))
        
        transaction_df = transaction_df.groupby(['ID_CPTE', 'MERCHANT_CATEGORY_XCD'])['TRANSACTION_AMT'].sum()
        transaction_df = transaction_df.reset_index()
        transaction_df = transaction_df.pivot_table('TRANSACTION_AMT', ['ID_CPTE'], 'MERCHANT_CATEGORY_XCD')
        transaction_df.columns = ['MERCHANT_CATEGORY_' + str(i) for i in transaction_df.columns]
        transaction_df = transaction_df.fillna(0)
        
        return transaction_df
    
    def preprocess_payment(self, payment_df):
        payment_df = payment_df.dropna()
        payment_df['TRANSACTION_DTTM'] = payment_df['TRANSACTION_DTTM'].apply(lambda x: str(x).split(' ')[0][:-3])
        payment_df = payment_df.sort_values(['ID_CPTE', 'TRANSACTION_DTTM'])
        payment_df = payment_df.groupby(['ID_CPTE', 'TRANSACTION_DTTM'])['TRANSACTION_AMT'].sum().reset_index()
        payment_df = payment_df.groupby('ID_CPTE').tail(12)
        payment_df['TRANSACTION_DTTM'] = payment_df['TRANSACTION_DTTM'].apply(lambda x: x.split('-')[1])
        payment_df = payment_df.pivot_table('TRANSACTION_AMT', ['ID_CPTE'], 'TRANSACTION_DTTM')
        payment_df.columns = ['transaction_' + str(i) for i in payment_df.columns + '_month']
        payment_df = payment_df.reset_index()
        payment_df = payment_df.fillna(0)
        
        return payment_df
    
    def preprocess_billing(self, billing_df):
        billing_df['PERIODID_MY'] = billing_df['PERIODID_MY'].apply(lambda x: x[:-3])
        billing_df = billing_df.sort_values(['ID_CPTE', 'PERIODID_MY'])
        billing_df = billing_df.reset_index(drop=True)
        billing_df = billing_df.groupby('ID_CPTE').tail(12)
        billing_df = billing_df.reset_index(drop=True)
        billing_df['PERIODID_MY'] = billing_df['PERIODID_MY'].apply(lambda x: x[-2:])
        total_balance = billing_df.pivot_table('CurrentTotalBalance', ['ID_CPTE'], 'PERIODID_MY')
        total_balance.columns = ['total_balance_' + str(i) for i in total_balance.columns + '_month']
        cash_balance = billing_df.pivot_table('CashBalance', ['ID_CPTE'], 'PERIODID_MY')
        cash_balance.columns = ['cash_balance_' + str(i) for i in cash_balance.columns + '_month']
        credit_limit = billing_df.pivot_table('CreditLimit', ['ID_CPTE'], 'PERIODID_MY')
        credit_limit.columns = ['credit_limit_' + str(i) for i in credit_limit.columns + '_month']
        delq_cycle = billing_df.pivot_table('DelqCycle', ['ID_CPTE'], 'PERIODID_MY')
        delq_cycle.columns = ['delq_cycle_' + str(i) for i in delq_cycle.columns + '_month']
        total_balance = total_balance.reset_index()
        cash_balance = cash_balance.reset_index()
        credit_limit = credit_limit.reset_index()
        delq_cycle = delq_cycle.reset_index()
        
        tmp = total_balance.merge(cash_balance, on='ID_CPTE')
        tmp = tmp.merge(credit_limit, on='ID_CPTE')
        tmp = tmp.merge(delq_cycle, on='ID_CPTE')
        
        return tmp
    
    def merge(self, payment, billing):
        merge_df = payment.merge(billing, on='ID_CPTE', how='right')
        return merge_df.set_index(['ID_CPTE'])

In [240]:
label_encoder = preprocessing.LabelEncoder()

In [271]:
transaction_training = pd.read_csv('../raw_data/transactions_train.csv')
payment_training = pd.read_csv('../raw_data/paiements_train.csv')
billing_training = pd.read_csv('../raw_data/facturation_train.csv')
performance_training = pd.read_csv('../raw_data/performance_train.csv')

In [269]:
transaction_test = pd.read_csv('../raw_data/transactions_test.csv')
payment_test = pd.read_csv('../raw_data/paiements_test.csv')
billing_test = pd.read_csv('../raw_data/facturation_test.csv')
performance_test = pd.read_csv('../raw_data/performance_test.csv')

In [282]:
train_index = list(performance_training['ID_CPTE'])
test_index = list(performance_test['ID_CPTE'])

In [273]:
transaction_df = transaction_training.append(transaction_test).reset_index(drop=True)
payment_df = payment_training.append(payment_test).reset_index(drop=True)
billing_df = billing_training.append(billing_test).reset_index(drop=True)

In [284]:
billing_df.head()

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0

In [285]:
preprocess = DataPreprocess(label_encoder)

In [286]:
processed_transaction = preprocess.preprocess_transcation(transaction_df)

In [287]:
processed_payment = preprocess.preprocess_payment(payment_df)

/home/data/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [288]:
processed_billing = preprocess.preprocess_billing(billing_df)

In [464]:
processed_data = preprocess.merge(processed_payment, processed_billing)

In [465]:
processed_data.head()

,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,transaction_10_month,...,delq_cycle_03_month,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month
ID_CPTE,,,,,,,,,,,,,,,,,,,,,
10001822,318.00,522.50,374.50,4200.00,262.5,265.00,267.50,300.0,250.0,231.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10007972,784.34,168.28,1050.00,559.50,664.0,313.50,843.71,191.9,945.9,701.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10012520,0.00,86.10,458.00,1177.31,315.0,525.00,505.00,50.5,1115.0,612.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10025534,131.30,0.00,260.00,0.00,6264.0,0.00,2080.00,0.0,318.0,0.00,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
10033579,574.55,391.30,412.23,470.53,546.8,419.61,283.92,106.0,84.0,219.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [466]:
processed_data.tail()

,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,transaction_10_month,...,delq_cycle_03_month,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month
ID_CPTE,,,,,,,,,,,,,,,,,,,,,
94986464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95132184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
96857733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98975426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
99407660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [467]:
transaction_col = processed_data.iloc[:, :12].columns

In [468]:
for col in transaction_col:
    replace_value = processed_data[processed_data[col].notna()][col].mean()
    processed_data[col] = processed_data[col].fillna(replace_value)

In [469]:
processed_data = processed_data.fillna(0)

In [470]:
training_X = processed_data.loc[train_index].reset_index()

In [471]:
tmp = training_X.merge(performance_training[['ID_CPTE', 'Default']], on='ID_CPTE')

In [472]:
tmp.tail()

,ID_CPTE,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,...,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month,Default
11895,58923219,1866.60,0.00,2007.32,1391.00,2439.04,2782.00,2575.00,1818.00,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
11896,40478502,867.00,1395.82,2442.81,950.82,2388.24,1033.09,1023.13,873.60,1530.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11897,97548597,3508.05,1366.39,1629.03,2067.21,2170.23,2070.00,1452.48,1818.00,1250.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
11898,12603910,1861.60,1826.19,2218.11,2265.42,2052.00,7868.64,2447.55,2504.78,2910.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11899,11346742,2314.00,3063.00,1816.99,1676.00,2607.96,2276.88,1956.24,1966.64,1625.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [473]:
training_y = np.array(tmp['Default'])

In [479]:
training_X = np.array(tmp.iloc[:, :-1])

In [480]:
test_X = processed_data.loc[test_index]
test_X = np.array(test_X)

In [481]:
ntrain = training_X.shape[0]
ntest = test_X.shape[0]
NFOLDS = 10
SEED = 2018

In [482]:
kf = KFold(ntrain, n_folds=NFOLDS, shuffle=True, random_state=SEED)

In [483]:
from sklearn.linear_model import LinearRegression
clf = LogisticRegression()

In [484]:
log_oof_train, log_oof_test = get_oof(clf, training_X, training_y, test_X)

Fold 0

ValueError: X has 60 features per sample; expecting 61

In [450]:
roc_auc_score(log_oof_train, training_y)

0.781071505089598

In [452]:
processed_data['log_result'] = np.concatenate([log_oof_train, log_oof_test])

In [453]:
processed_data.head()

,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,transaction_10_month,...,delq_cycle_04_month,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month,log_result
ID_CPTE,,,,,,,,,,,,,,,,,,,,,
10001822,318.00,522.50,374.50,4200.00,262.5,265.00,267.50,300.0,250.0,231.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10007972,784.34,168.28,1050.00,559.50,664.0,313.50,843.71,191.9,945.9,701.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10012520,0.00,86.10,458.00,1177.31,315.0,525.00,505.00,50.5,1115.0,612.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10025534,131.30,0.00,260.00,0.00,6264.0,0.00,2080.00,0.0,318.0,0.00,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
10033579,574.55,391.30,412.23,470.53,546.8,419.61,283.92,106.0,84.0,219.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [454]:
print("Light Gradient Boosting Regressor")
lgbm_params =  {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'rmse',
    # 'max_depth': 15,
    'num_leaves': 270,
    'feature_fraction': 0.5,
    'bagging_fraction': 0.75,
    'bagging_freq': 2,
    'learning_rate': 0.0175,
    'verbose': 0
}

Light Gradient Boosting Regressor

In [458]:
X = processed_data.loc[train_index].reset_index()
y = performance_training

In [462]:
tmp = X.merge(y[['ID_CPTE', 'Default']], on='ID_CPTE')
X = tmp[X]

,ID_CPTE,transaction_01_month,transaction_02_month,transaction_03_month,transaction_04_month,transaction_05_month,transaction_06_month,transaction_07_month,transaction_08_month,transaction_09_month,...,delq_cycle_05_month,delq_cycle_06_month,delq_cycle_07_month,delq_cycle_08_month,delq_cycle_09_month,delq_cycle_10_month,delq_cycle_11_month,delq_cycle_12_month,log_result,Default
0,99690111,262.50,303.00,200.00,288.80,176.80,303.00,618.00,267.50,226.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,57427180,494.60,0.00,0.00,1076.25,454.50,412.00,884.00,252.50,393.90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,29617912,429.07,144.45,742.64,970.78,792.38,371.28,257.25,185.64,433.63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,61632809,1074.75,463.05,2123.44,1137.76,640.56,0.00,2132.52,0.00,1899.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,14117855,1129.00,0.00,894.40,2307.54,0.00,1168.12,1416.78,3281.55,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,23700394,1849.60,1410.79,493.00,953.32,95.17,430.29,609.15,551.38,1599.93,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,27881705,202.00,262.75,2905.05,540.57,652.00,208.00,2259.10,668.50,1155.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
7,46100731,0.00,1472.00,1024.59,1769.54,0.00,599.96,714.48,895.59,395.90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,58512689,204.00,206.00,204.00,312.00,2040.00,400.00,500.00,420.00,782.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,24661392,360.00,342.39,437.58,388.41,506.94,348.74,508.20,802.70,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10,39254190,790.65,391.14,234.26,1498.00,0.00,307.97,334.00,2898.28,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11,95779116,407.04,1067.42,470.22,248.88,746.72,1014.51,0.00,797.12,380.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
12,26016069,202.00,905.22,346.30,208.00,845.80,629.73,1096.84,320.32,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0
13,47119980,2191.95,0.00,2977.60,0.00,283.25,2359.52,0.00,651.78,2757.71,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,55240199,0.00,99.00,0.00,229.50,639.45,454.48,0.00,233.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,35559686,515.00,1110.80,393.60,714.00,1306.00,1219.70,1754.00,3507.78,868.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,71856405,981.28,192.78,180.96,0.00,80.25,214.00,1116.00,740.57,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,75085501,217.21,399.24,194.25,3025.56,2429.32,1022.40,456.31,979.26,456.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,75780289,4267.30,0.00,799.40,187.86,736.65,403.52,0.00,496.46,1287.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
19,74010769,778.26,535.00,366.00,287.70,245.00,280.90,701.92,692.64,235.33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,90088004,500.00,524.19,366.00,800.70,484.80,392.70,250.29,67.32,89.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21,43551724,490.62,561.75,702.96,470.80,580.00,695.25,820.05,1727.10,687.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
22,68131233,282.48,246.98,225.90,184.80,294.80,423.34,292.85,251.46,303.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,46775121,1070.00,1224.00,1050.00,1122.00,1861.08,1060.00,1348.32,2010.00,1332.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,71339428,708.34,598.35,0.00,365.16,227.46,341.96,646.88,113.42,262.14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25,58307978,661.98,429.52,356.16,1693.32,2960.65,771.47,0.00,295.93,181.26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
26,19692826,0.00,2687.93,673.03,1641.94,678.08,5401.76,917.28,893.30,4564.50,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,64460984,185.85,339.66,700.35,300.30,58.58,268.66,583.00,220.42,120.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28,36560668,3392.00,2259.08,3690.00,2729.02,2635.00,4527.60,2120.00,4490.06,2725.36,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
29,83467452,80.58,1908.00,3995.15,3827.25,1694.00,1655.72,519.14,1130.00,1351.35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11870,91285968,2065.78,1565.00,1215.00,1441.00,2437.00,2266.00,212.00,3001.05,1105.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11871,79958539,1010.00,1547.00,0.00,606.00,2120.00,525.00,1153.00,0.00,1010.00,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0
11872,85761545,0.00,1792.00,907.20,3112.67,572.25,3261.68,662.48,3704.12,351.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11873,39420868,6751.16,491.00,3147.44,1309.39,1088.65,1021.10,1502.38,1113.71,389.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11874,89131001,1143.32,2709.24,2939.38,1869.00,6977.24,0.00,1573.84,2148.42,1825.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11875,35971151,2699.84,1762.29,776.69,3142.00,1522.34,2356.64,2475.09,1420.86,1485.71,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
11876,19611689,265.00,4617.54,2147.07,6190.65,1160.82,2056.71,358.12,3318.89,1846.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
11877,61818099,315.18,505.27,553.28,691.96,1292.96,1919.07,1010.00,889.34,2015.36,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11878,71673781,1698.32,1029.34,1260.70,864.00,1575.90,1881.81,855.00,1006.87,861.35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11879,65865490,3863.53,0.00,2100.00,1514.10,1997.69,1362.10,1356.60,0.00,3022.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11880,35031952,1052.00,845.88,0.00,1712.88,0.00,3080.00,2040.00,1070.00,1070.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11881,18627710,1344.99,692.86,716.90,2553.28,1145.97,1572.26,0.00,1565.64,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11882,30919148,1439.00,2557.00,2166.10,1247.50,2216.00,2170.29,530.00,3092.50,2699.14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11883,76340293,3571.86,2824.75,2884.80,3008.35,4204.46,4195.65,3420.63,3010.06,4127.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11884,75929799,420.00,1630.44,2155.04,943.50,1538.04,2231.61,2888.68,2608.83,1309.16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
11885,27910976,1302.19,1109.68,1545.60,1795.46,930.09,652.05,602.08,941.00,2157.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
11886,76285913,54320.00,44190.00,32880.00,31855.00,8200.00,8190.00,15720.00,15390.00,6745.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11887,95253759,307.00,1113.10,1435.31,457.00,268.40,528.65,489.15,886.11,1107.10,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11888,59138634,1029.16,973.37,1067.52,2218.19,1448.48,3632.05,2695.32,2524.90,570.65,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11889,33262553,6887.19,4437.00,3793.65,2107.04,11199.65,0.00,2156.70,4160.19,8704.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11890,94792460,874.50,1454.52,1426.12,1643.25,1320.80,1602.30,2009.40,2154.98,1242.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11891,64408324,3187.72,2634.22,1040.00,2718.46,2645.54,476.32,2485.45,1707.50,3015.82,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11892,42544187,7821.20,0.00,1879.99,277.68,2418.35,0.00,1768.00,3130.17,2254.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11893,66101999,122.96,184.80,822.12,160.50,854.76,5179.87,2019.09,2411.23,2638.34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11894,97501424,1337.72,2316.23,545.40,1932.01,1811.45,1872.00,1967.00,1212.31,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11895,58923219,1866.60,0.00,2007.32,1391.00,2439.04,2782.00,2575.00,1818.00,0.00,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
11896,40478502,867.00,1395.82,2442.81,950.82,2388.24,1033.09,1023.13,873.60,1530.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11897,97548597,3508.05,1366.39,1629.03,2067.21,2170.23,2070.00,1452.48,1818.00,1250.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
11898,12603910,1861.60,1826.19,2218.11,2265.42,2052.00,7868.64,2447.55,2504.78,2910.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11899,11346742,2314.00,3063.00,1816.99,1676.00,2607.96,2276.88,1956.24,1966.64,1625.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [ ]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.10, random_state=2018)